{% extends './base.html' %}

{% block main%}
<div class="container mt-5">
    <h2>Checkout</h2>
    <form method="POST">
        <div class="form-group">
            <label for="metodoPagamento">Metodo di Pagamento:</label>
            <input type="text" class="form-control" id="metodoPagamento" name="metodoPagamento" required>
        </div>
        <div class="form-group">
            <label for="indirizzo">Indirizzo di Spedizione:</label>
            <input type="text" class="form-control" id="indirizzo" name="indirizzo" required>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="{% url 'effettua_ordine' %}" class="btn btn-primary" id="effettuaOrdine" name="effettuaOrdine">Ordina</a>
            </div>
        </div>
    </form>
</div>


{% endblock %}
