{% extends './base.html' %}


{% block main %}
    <head>
    <!-- Bootstrap CSS -->
   
  </head>
     <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <divclass="card bg-dark text-light p-4">
                    <h2 class="text-center">Registrazione</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary mt-3" name="registrazione_button" id="registrazione_button">Registra</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
